body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*---------General-------------*/
.btn{
    width: 150px;
    height: 50px;
    background-color: #0E49B5;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.reviews{
    background-color: #DAE2EA;
    display: flex;
    color: #3B3E66;
    line-height: 20px;
    padding: 19px 23px 0 13px;
}


/*---------Header-------------*/
.head{
    padding-top: 10px;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 9px;
    margin-bottom: 9px;
}

.header__cart{
    position: relative;
}

.header__cart_count{
    background-color: #0E49B5;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 26px;
}

.banner{
    margin-bottom: 40px;
    position: relative;
    transition: all 1s ease-out;
}

.banner__image{
    max-height: 512px;
    margin-bottom: 25px;
}

.banner__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.banner__title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 72px;
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
}

.banner__title_black{
    color: #000;
}

.banner__title_left{
    top: 15%;
    left: 3%;
    transform: none;
}

.banner__title_color{
    color: #000000;
}

.banner__btn{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner__btn_left{
    top: 45%;
    left: 3%;
    transform: none;
}

.btn_noactive{
    background-color: #DDDDDD;
}

/*---------MainContent-------------*/

/*---------Search-------------*/

.search{
    margin-bottom: 40px;
    height: 60px;
    position: relative;
}
.search__input{
    font-size: 18px;
    width: 100%;
    height: 60px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgb(0,0,0,0.15);
    outline: none;
    padding-left: 68px;
    padding-right: 120px;
    background: url('./img/icons/search.svg') 23px center  no-repeat;
}
.search__btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.search__btn_showall{
    position: absolute;
    right: 63px;
    bottom: 10px;
}
.search__btn_filter{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding-top: 4px;
}

/*--------Container-----------*/

.containerFlex{
    display: flex;
    justify-content: space-between;
}

/*--------filter-----------*/

.accordion__filter{
    width: 325px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #DDDADA;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    align-self: start;
}

.accordion__filter > div{
    background-color: #EDF3FF;
}

.accordion__filter > div > .filter__header{
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 15px;
    padding-left: 30px;
    border-bottom: 0.5px solid #DDDDDD;
    position: relative;
}

.accordion__filter > div:last-child{
    border-bottom: none;
}

.filter__header::after{
    content: url(./img/icons/arrow_open.png);
    display: block;
    position: absolute;
    top: 17px;
    right: 21px;

}

.filter__header_open::after{
    content: url(./img/icons/arrow_close.png);
}

.filter__price_body{
    padding: 23px 30px 33px;
    border-bottom: 0.5px solid #DDDDDD;
}

.filter__price_from{
    margin-bottom: 17px;
}

.filter__price_from, .filter__price_to{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__price_input::-webkit-outer-spin-button,
.filter__price_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter__price_input{
    outline: none;
    width: 190px;
    height: 40px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    text-align: center;
}

.filter__checkbox{
    display: flex;
    padding: 25px 0px 9px 30px;
    border-bottom: 0.5px solid #DDDDDD;
}

.filter__os_body, .filter__display_body{
    flex-direction: column;
}

.filter__color_body, .filter__memory_body{
    justify-content: space-between;
    padding-right: 100px;
}

.filter__checkbox_column{
    display: flex;
    flex-direction: column;
}

.checkbox{
    margin-bottom: 19px;
    position: relative;
}

.checkbox__input{
    appearance: none;
    position: absolute;
}

.checkbox__label{
    padding-left: 29px;
}

.checkbox__label:before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #c4c4c4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__input:checked + .checkbox__label:before{
    background-color: #0E49B5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*---------MainContentBody-------------*/

.products{
    max-width: 1024px;
    margin: 0 auto;
}

.productsFilterOpened{
    max-width: 640px;
    margin: 0;
}

.products__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__card{
    max-width: 300px;
    border: 0px solid #E0E0E0;
    border-radius: 10px;
    border: 0.5px solid #DDDADA;
    box-shadow: 0px 0px 25px 0px rgb(0,0,0,0.15);
    margin-bottom: 50px;
}

.card__goods{
    margin: 0 auto;
    text-align: center;
    padding: 19px 0;
}

.goods__img{
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

.goods__title{
    margin-bottom: 7px;
}

.bold{
    font-weight: 700;
}

.goods__availability{
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods__InStock{
    margin-left: 6px;
}

.goods__price{
    margin-bottom: 18px;
}

.goods__availability, .goods__price{
    line-height: 16px;
    color: #767272;
}

.card__reviews{
    border-radius: 0px 0px 10px 10px;
}

.reviews__like{
    margin: 0px 11px 23px 0px;
    padding-top: 1px;
    fill: #ffb600;
}

.reviews__text{
    margin-right: 50px;
    margin-bottom: 23px;
}

.reviews__orders{
    text-align: center;
    margin-bottom: 23px;
}

/*--------Popup-----------*/
.popup{
    max-width: 1024px;
    background-color: #fff;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: fixed;
    top: 200px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-between;
}

.popup__open{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.popup__foto{
    align-self: center;
}

.popup__img{
    width: 250px;
    height: 250px;
    margin: 0px 28px;
}

.popup__info{
    padding: 35px 65px 0 75px;
    border-right: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
}

.popup__title{
    color: #3B3E66;
    margin-bottom: 21px;
}

.popup__reviwes{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 29px;
}

.popup__orders{
    text-align: center;
}

.popup__props{
    color: #767272;
    margin-bottom: 90px;
}

.popup__props > div{
    margin-bottom: 15px;
}

.popup__props:last-child{
    margin-bottom: none;
}

.popup__purchase{
    align-self: center;
    text-align: center;
    padding: 0 65px;
    color: #3B3E66;
}

.popup__price{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 23px;
}

.popup__stock{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}

.hystmodal__shadow{
    position: fixed;
    border:none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}

.hystmodal__shadow_show{
    pointer-events: auto;
    opacity: 0.6;
}

/*--------Media queries-----------*/
@media screen and (max-width: 1080px){
    .banner{
        background-size: cover;
    }
}

@media screen and (max-width: 1000px){
    .products{
        max-width: 800px;
    }
    .products__cards{
        justify-content: space-around;
    }
    .banner{
        padding-top: 120px;
    }
}

.invisible{
    display: none;
}

